# Exclude hidden files
.git

# Exclude development and build files
node_modules/
vendor/teamtnt/tntsearch/tests/
composer.lock
package-lock.json
webpack.config.js
speedy-search.zip

# Exclude test files
tests/
phpunit.xml

# Exclude local environment files
.env
*.log