#wpcontent {
  padding-left: 0;
}

@media (min-width: 1200px) {
  .container{
    max-width: 1800px!important;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0;}
}

h1 {
  font-size: x-large!important;
  margin: 40px 0!important;
  text-align: center;
}

input[type="text"], input[type="number"], select {
  width: 100%!important;
}

input[type="range"] {
  width: 95%!important;
}

.tabs h2 {
  font-size: x-large;
  margin: 0;
  line-height: normal;
  border-bottom: 1px solid #F0F0F1;
  padding: 10px;
  text-align: center;
}

.ctas h2 {
  font-size: 22px!important;
}

.notice, div.error, div.updated  {
  margin-top: 20px;
  margin-bottom: -25px;
  margin-left: auto;
  margin-right: auto;
  transition: opacity 0.5s ease-in;
  animation: fadeIn 0.5s forwards;
}

.notice-dismiss {
  color: #46BEA4 !important;
  transition: opacity 0.5s ease-out;
}

.notice-success, 
div.updated {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 300px;
  border-left-color: #46BEA4 !important;
  border: 2px solid #46BEA4;
  border-radius: 5px;
  line-height: 0;
  border-left-width: 8px;
  text-transform: uppercase;
}

.wp-die-message, p {
  font-size: 14px;
}

.form-table {
  margin: 0;
}

/* Main selection box */
.select2-container--default .select2-selection--multiple {
  border: 1px solid #ccc;
  border-radius: 4px;
  min-height: 34px;
  line-height: 1.428571429;
}

/* Selected items in the box */
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #46BEA4 !important;
  border: 1px solid #3aa18a;
  border-radius: 4px;
  margin: 4px 0 0 4px;
  padding: 3px 6px;
  color: #fff;
  line-height: 1.4;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Dropdown hover state */
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #46BEA4 !important;
  color: #fff;
}

/* Dropdown menu */
.tab .select2-container--default .select2-dropdown {
  border: 1px solid #46BEA4;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

/* Focus state */
.tab .select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #46BEA4;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(70, 190, 164, 0.6);
}

/* Close role button coloring */
.tab .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: white;
}

.nav-links ul {
  background-color: #fff;
  padding: 20px!important;
  border-radius: 5px;
  width: 100%;
}

.nav-links li:not(:last-child) {
  margin-bottom: 10px;
}

.nav-links li:is(:last-child) {
  margin-bottom: 0px;
}

.nav-links li a {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  padding: 12px 80px 12px 12px;
  border-radius: 5px;
  margin-bottom: 0;
  text-decoration: none;
}

.nav-links li a:focus {
  outline: none;
  box-shadow: none;
}

.nav-links li a:hover {
  color: #46BEA4;
}

.nav-links li a.active {
  background-color: #333;
  color: #fff;
}

.nav-links .fa {
  margin-right: 10px;
}

.tab {
  background-color: #fff;
  border-radius: 5px;
}

.tab th {
  border-right: 1px solid #F0F0F1;
  vertical-align: middle
}

.tab th, .tab td {
  padding: 20px;
}

.tab tr:not(:last-child) {
  border-bottom: 1px solid #F0F0F1;
}

.ctas .cta {
  background-color: #00A22B;
  text-align: center;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}

#submit {
  margin-top: 20px;
  padding: 5px 20px;
  border-radius: 5px!important;
}

p.submit {
  padding-top: 0!important;
}

.submit input {
  background-color: #46BEA4!important;
  border-color: #46BEA4!important;
}

/* Bootstrap Begin */
.bootstrap-wrapper {
  overflow-x: hidden;
}

input[type="checkbox"] {
  border-radius: 5px!important;
}

select, input {
  border-top-right-radius: 5px!important;
  border-bottom-right-radius: 5px!important;
}

.wp-core-ui select {
  max-width: 100%;
}

.input-group:not(:last-child) {
  margin-bottom: 1.2rem;
}

.form-group:not(:last-child) {
  margin-bottom: 1.2rem;
}

input[type=checkbox]:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=radio]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, select:focus, textarea:focus {
  border-color: #46BEA4!important;
  box-shadow: none!important;
}

.bootstrap-wrapper {
  margin: 0 15px 0 15px;
}

.credit {
  text-align: center;
  margin: 0 5px;
}

.credit a {
  color: #46BEA4;
  text-decoration: none;
}

input[role=switch]:checked {
  background-color: #46BEA4!important;
  border-color: #46BEA4!important;
}

a.btn.btn-primary {
  background-color: #46BEA4!important;
  border-color: #46BEA4!important;
}

a.btn.btn-secondary {
  background-color: #6C757D!important;
  border-color: #6C757D!important;
}

a.btn.btn-success {
  background-color: #198754!important;
  border-color: #198754!important;
}

a.btn.btn-danger {
  background-color: #DC3545!important;
  border-color: #DC3545!important;
}

a.btn.btn-warning {
  background-color: #FFC107!important;
  border-color: #FFC107!important;
  color: #333!important;
}

a.btn.btn-info {
  background-color: #46BEA4!important;
  border-color: #46BEA4!important;
  color: #333!important;
}

a.btn.btn-light {
  background-color: #F8F9FA!important;
  border-color: #F8F9FA!important;
  color: #333!important;
}

a.btn.btn-dark {
  background-color: #212529!important;
  border-color: #212529!important;
}
/* Bootstrap End */

/* Icons */
.nav-links a .bi {
  font-size: 21px;
  margin-right: 10px;
}

.nav-links .icon {
  margin-right: 10px;
}

/* Editor */
.wp-editor-tabs {
  position: relative;
  top: 9px !important;
}

.wp-editor-container {
  border: 1px solid #ddd !important;
}

.wp-editor-area {
  border: none !important;
}

.wp-switch-editor {
  margin: 0 !important;
  padding: 2px 15px !important;  /* Reduced top/bottom padding from 3px to 2px */
  line-height: 1.4 !important;   /* Added to control text vertical position */
  height: 25px !important;       /* Added to ensure consistent height */
  border: 1px solid #ddd !important;
}